<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body class="register-page">
    <form method="POST" action="/register">
        <h2>Register</h2>
        <input type="text" name="username" placeholder="Enter email" required />
        <input type="password" name="password" placeholder="Enter password" required />
        <input type="text" name="phone" placeholder="Enter phone number" required />
        <button type="submit">SIGN UP</button>
        <p><a href="/login">Already have an account? Login</a></p>
    </form>
</body>
</html>